@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
.cmp-map {
  font-family: "Mulish";
  margin: 0;
  padding: 0;
  display: flex;

  #viewDiv {
    flex: 1;
    height: 100vh;
  }
  #sidePanel {
    width: 25%;
    background-color: transparent;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
  select {
    width: 100%;
    padding: 8px;
  }
  &__main-panel {
    &--hidden {
      display: none;
    }
  }
  &__property-info {
    &--hidden {
      display: none;
    }
    &__img {
      max-height: 500px;
      width: 100%;
    }
    &__navigate {
      display: flex;
      justify-content: space-between;
    }
    &__hottline {
      display: flex;
      justify-content: space-between;
    }
  }
}
