<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hệ thống trạm sạc Vinfast tại Việt Name</title>
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.26/esri/themes/light/main.css"
    />
    <link rel="stylesheet" href="./map.css" />
    <link rel="stylesheet" href="../dropdown/style.css" />
  </head>
  <body>
    <div class="cmp-map">
      <div id="sidePanel">
        <div class="cmp-map__main-panel">
          <div class="cmp-map__header">
            Hệ thống trạm sạc Vinfast tại Vietnam
          </div>
          <div class="cmp-map__info">
            <ol>
              <li class="cmp-map__info__national-number">
                Có bao nhiêu trạm trên toàn quốc
              </li>
              <li class="cmp-map__info__districting-number">
                Nếu có filter tỉnh: bao nhiêu trạm tại tỉnh
              </li>
              <li>
                Nếu có filter tỉnh + huyện: bao nhiêu trạm tại tỉnh + huyện
              </li>
            </ol>
          </div>
          <div class="cmp-map__filter">
            <div id="province-dropdown" class="dropdown">
              <input
                type="text"
                value=""
                data-province=""
                class="selected-value"
                style="display: none"
              />
              <button class="dropdown-button">Tỉnh thành</button>
              <div class="dropdown-content">
                <input
                  type="text"
                  class="dropdown-search"
                  placeholder="Search Country..."
                />
                <div class="dropdown-options">
                  <!-- Options will be inserted dynamically here -->
                </div>
              </div>
            </div>

            <div id="district-dropdown" class="dropdown">
              <input
                type="text"
                value=""
                data-district=""
                class="selected-value"
                style="display: none"
              />
              <button class="dropdown-button">Quận huyện</button>
              <div class="dropdown-content">
                <input
                  type="text"
                  class="dropdown-search"
                  placeholder="Search City..."
                />
                <div class="dropdown-options">
                  <!-- Options will be inserted dynamically here -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cmp-map__property-info cmp-map__property-info--hidden">
          <button class="cmp-map__back-button">Quay lại</button>
          <img
            class="cmp-map__property-info__img"
            src="https://lh3.googleusercontent.com/p/AF1QipMHUzDXtaCo6jxd1Y_MME2zSud0LxLNaV7sX050=s680-w680-h510"
            alt="prop"
          />
          <div class="cmp-map__property-info__title">
            Vinhomes Grand Park, hầm B2-Tòa S3
          </div>
          <div class="cmp-map__property-info__status">Đang hoạt động</div>
          <div class="cmp-map__property-info__navigate">
            <div>Địa chỉ</div>
            <a href="#" target="_blank">Chỉ Đường</a>
          </div>
          <div class="cmp-map__property-info__lcoation">
            Hầm B2-S3-PK1, Vinhomes Grand Park, đường Nguyễn Xiển, Thành phố Thủ
            Đức, Thành phố Trung ương Hồ Chí Minh
          </div>
          <div class="cmp-map__property-info__hottline">
            <div>Hotline:</div>
            <div class="cmp-map__property-info__hottline__num">
              1900 23 23 89
            </div>
          </div>
          <!-- <div class="cmp-map__property-info__charging-type">
            <div>Loại cổng sạc</div>
            <ul></ul>
          </div> -->
          <!-- <div class="cmp-map__property-info__more">
            <ul></ul>
          </div> -->
          <button class="cmp-map__back-button">Đặt lịch hẹn</button>
        </div>
      </div>
      <div id="viewDiv"></div>
      <script type="module">
        import DropdownComponent from "../dropdown/DropdownComponent.js";
        import { provinceDistrictData } from "./data.js"; // Import data
        // Initialize dropdowns
        const countryDropdown = new DropdownComponent(
          "#province-dropdown",
          provinceDistrictData
        );
        const districtDropdown = new DropdownComponent(
          "#district-dropdown",
          []
        );
        // Handle country selection to filter cities
        let filteredCities = [];
        countryDropdown.onChange((selectedCountry) => {
          provinceDistrictData.forEach((element) => {
            if (element.provinceId === selectedCountry) {
              filteredCities = element.districts;
            }
          });
          districtDropdown.updateOptions(filteredCities);
          districtDropdown.resetSelected();
        });
      </script>
      <script src="https://js.arcgis.com/4.26/"></script>
      <script src="./map.js" type="module"></script>
    </div>
  </body>
</html>
